/* Styles pour le tableau */

table {
    width: 100%;
    border-collapse: collapse;
    /* Évite les espaces entre les cellules */
    margin: 20px 0;
    /* Marge en haut et en bas */
    border-radius: 8px;
    /* Coins arrondis */
    overflow: hidden;
    /* Cache les bords arrondis */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    /* Ombre légère */
}


/* Styles pour les en-têtes */

th.mat-header-cell {
    background-color: #4CAF50;
    /* Couleur de fond verte */
    color: white;
    /* Couleur du texte blanche */
    padding: 15px;
    /* Espacement à l'intérieur des cellules */
    text-align: left;
    /* Alignement du texte à gauche */
    font-weight: bold;
    /* Gras */
    border-bottom: 3px solid #388E3C;
    /* Bordure en bas plus foncée */
}


/* Styles pour les cellules */

td.mat-cell {
    padding: 15px;
    /* Espacement à l'intérieur des cellules */
    border-bottom: 1px solid #ddd;
    /* Bordure en bas des cellules */
    background-color: white;
    /* Fond blanc pour les cellules */
    transition: background-color 0.3s;
    /* Transition pour l'effet de survol */
}


/* Styles pour les lignes au survol */

tr.mat-row:hover {
    background-color: #f1f8e9;
    /* Couleur de fond claire au survol */
}


/* Styles pour les colonnes */

.mat-column-nom,
.mat-column-client,
.mat-column-idExterieur,
.mat-column-etatAvancement,
.mat-column-bureau,
.mat-column-personnel {
    font-weight: normal;
    /* Style normal pour le texte */
}


/* Styles pour les liens */

a {
    color: #4CAF50;
    /* Couleur des liens verte */
    text-decoration: none;
    /* Enlève le soulignement des liens */
}

a:hover {
    text-decoration: underline;
    /* Soulignement au survol */
}