<table>
    <thead>
        <tr>
            <th>Nom</th>
            <th>Client</th>
            <th>Id extérieur</th>
            <th>État d'avancement</th>
            <th>Bureau</th>
            <th>Personnel</th>
        </tr>
    </thead>
    <tbody>
        <!-- Boucle pour afficher nos clients -->
        <tr *ngFor="let client of clients" (click)="openModal(client.id)">
            <td>{{ client.firstname }} {{ client.lastname }}</td>
            <td>{{ client.accountNo }}</td>
            <td>{{ client.externalId }}</td>
            <td>{{ client.status.value }}</td>
            <td>{{ client.officeName }}</td>
            <td>{{ client.isStaff }}</td>
        </tr>
    </tbody>
</table>


<div class="modal" *ngIf="isModalOpen">
    <div class="modal-content">
        <span class="close" (click)="closeModal()">&times;</span>
        <app-detailsclient [clientId]="selectedClientId"></app-detailsclient>
    </div>
</div>