<table>
    <thead>
        <tr>
            <th>Nom</th>
            <th>Client</th>
            <th>Id extérieur</th>
            <th>État d'avancement</th>
            <th>Bureau</th>
            <th>Personnel</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let client of clients" [routerLink]="['/details', client.id]">
            <!-- Modifié ici -->
            <td>{{ client.firstname }} {{ client.lastname }}</td>
            <td>{{ client.accountNo }}</td>
            <td>{{ client.externalId }}</td>
            <td>{{ client.status.value }}</td>
            <td>{{ client.officeName }}</td>
            <td>{{ client.isStaff }}</td>
        </tr>
    </tbody>
</table>
