<div class="client-details">
    <table class="main-table">
        <!-- Détails du client -->
        <tr>
            <th colspan="5" class="section-title">Détails du client</th>
        </tr>
        <tr>
            <th>ID Client</th>
            <th>Nom complet</th>
            <th>Numéro de mobile</th>
            <th>Statut</th>
            <th>Date d'activation</th>
        </tr>
        <tr *ngIf="clientDetails; else noClientDetails">
            <td>{{ clientDetails.id }}</td>
            <td>{{ clientDetails.firstname }} {{ clientDetails.lastname }}</td>
            <td>{{ clientDetails.mobileNo }}</td>
            <td>{{ clientDetails.status.value }}</td>
            <td>{{ clientDetails.activationDate | date }}</td>
        </tr>
        <ng-template #noClientDetails>
            <tr>
                <td colspan="5">Pas d'information détaillée trouvée pour cet utilisateur.</td>
            </tr>
        </ng-template>

        <!-- Comptes du client -->
        <tr>
            <th colspan="5" class="section-title">Comptes du client</th>
        </tr>
        <tr>
            <th>Numéro de compte</th>
            <th>Nom du produit</th>
            <th>Type de prêt</th>
            <th>Montant du prêt</th>
            <th>Balance</th>
        </tr>
        <tr *ngFor="let account of clientAccounts?.loanAccounts">
            <td>{{ account?.accountNo }}</td>
            <td>{{ account?.productName }}</td>
            <td>{{ account?.loanType?.value }}</td>
            <td>{{ account?.originalLoan | currency }}</td>
            <td>{{ account?.loanBalance | currency }}</td>
        </tr>

        <tr *ngIf="!(clientAccounts?.loanAccounts?.length)">
            <td colspan="5">Aucun compte trouvé pour cet utilisateur.</td>
        </tr>

        <!-- Résumé du client -->
        <tr>
            <th colspan="5" class="section-title">Résumé du client</th>
        </tr>
        <tr>
            <th>Cycle de prêt</th>
            <th>Prêts actifs</th>
            <th>Dernier montant de prêt</th>
            <th>Comptes d'épargne actifs</th>
            <th>Total des économies</th>
        </tr>
        <tr *ngIf="clientSummary && clientSummary.length > 0; else noClientSummary">
            <td>{{ clientSummary[0].loanCycle }}</td>
            <td>{{ clientSummary[0].activeLoans }}</td>
            <td>{{ clientSummary[0].lastLoanAmount | currency }}</td>
            <td>{{ clientSummary[0].activeSavings }}</td>
            <td>{{ clientSummary[0].totalSavings | currency }}</td>
        </tr>
        <ng-template #noClientSummary>
            <tr>
                <td colspan="5">Pas de résumé trouvé pour cet utilisateur.</td>
            </tr>
        </ng-template>
    </table>
</div>