<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questionnaire d'éligibilité</title>

</head>

<body>
    <p> {{title}} </p>
    <div class="container">
        <h1>Questionnaire d'éligibilité</h1>
        <p>Un questionnaire d'éligibilité peut être proposé selon le choix de l'établissement.</p>

        <table>
            <thead>
                <tr>
                    <th>Question</th>
                    <th>Réponse</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Question 1</td>
                    <td>
                        <select>
                        <option>Réponse 1</option>
                        <option>Réponse 2</option>
                        <option>Réponse 3</option>

                    </select>
                    </td>
                </tr>
                <tr>
                    <td>Question 2</td>
                    <td>
                        <select>
                        <option>Réponse 1</option>
                        <option>Réponse 2</option>
                        <option>Réponse 3</option>
                    </select>
                    </td>
                </tr>
                <tr>
                    <td>Question 3</td>
                    <td>
                        <select>
                        <option>Réponse 1</option>
                        <option>Réponse 2</option>
                        <option>Réponse 3</option>
                    </select>
                    </td>
                </tr>
                <tr>
                    <td>Question 4</td>
                    <td>
                        <select>
                      <option>Réponse 1</option>
                      <option>Réponse 2</option>
                      <option>Réponse 3</option>
                  </select>
                    </td>
                </tr>
                <tr>
                    <td>Question 5</td>
                    <td>
                        <select>
                    <option>Réponse 1</option>
                    <option>Réponse 2</option>
                    <option>Réponse 3</option>
                </select>
                    </td>
                </tr>
                <tr>
                    <td>Question 6</td>
                    <td>
                        <select>
                  <option>Réponse 1</option>
                  <option>Réponse 2</option>
                  <option>Réponse 3</option>
              </select>
                    </td>
                </tr>
                <tr>
                    <td>Question 7</td>
                    <td>
                        <select>
                <option>Réponse 1</option>
                <option>Réponse 2</option>
                <option>Réponse 3</option>
            </select>
                    </td>
                </tr>
                <tr>
                    <td>Question 8</td>
                    <td>
                        <select>
              <option>Réponse 1</option>
              <option>Réponse 2</option>
              <option>Réponse 3</option>
          </select>
                    </td>
                </tr>
                <tr>
                    <td>Question 9</td>
                    <td>
                        <select>
            <option>Réponse 1</option>
            <option>Réponse 2</option>
            <option>Réponse 3</option>
        </select>
                    </td>
                </tr>
                <tr>
                    <td>Question 10</td>
                    <td>
                        <select>
          <option>Réponse 1</option>
          <option>Réponse 2</option>
          <option>Réponse 3</option>
      </select>
                    </td>
                </tr>

            </tbody>
        </table>

        <div class="button-container">
            <button type="button">Valider</button>
            <button type="button" class="abandonner">Abandonner</button>
        </div>
    </div>

</body>

</html>