<!-- <h2 style="text-align: center;"> {{title}} </h2> -->

<!-- Supprimer l'appel direct du formulaire -->
<!-- <app-login-form> </app-login-form> -->

<!-- Le reste des composants que tu vas gérer via les routes -->
<!-- <app-recherche></app-recherche>
<app-creationdossier> </app-creationdossier>
<app-form-empruntfirst></app-form-empruntfirst>
<app-form-empruntsecond></app-form-empruntsecond>
<app-form-emprunt-third></app-form-emprunt-third> -->

<!-- <app-clients-liste></app-clients-liste> -->
<router-outlet>
</router-outlet>
