<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pré-Instruction de Crédits</title>

</head>

<body>

    <div class="container">
        <h1>Pré-Instruction de Crédits</h1>
        <div class="form-group">
            <label for="client-name">Nom du client :</label>
            <input type="text" id="client-name" placeholder="Entrez le nom du client">
        </div>
        <div class="form-group">
            <label for="file-number">Numéro du dossier :</label>
            <input type="text" id="file-number" placeholder="Entrez le numéro du dossier">
        </div>
        <div class="form-group">
            <span class="toggle-advanced" onclick=>Recherche avancée</span>
            <div class="advanced-search" id="advanced-search">
                <p>Critères de recherche avancée ici</p>

            </div>
        </div>
        <button class="button">Rechercher</button>
        <button class="button">Créer dossier</button>
        <button class="button cancel">Abandonner</button>
    </div>



</body>

</html>